* {
    margin: 0;
}
.head {
    height: 50vh;
    background-color: pink;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer {
    height: 50vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 20px;
    width: 70%;
    text-align: center;
    margin-top: 40px;
}
h1 {
    font-size: 40px;
}
p {
    width: 100px;
}