body {
    background-color: black;
    display: flex;
    justify-content: center;
}
.main {
    margin-top: 200px;
    height: 600px;
    width: 800px;
    background-color: aliceblue;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    display: flex;
    width: 300px;
    font-size: 22px;
    margin-left: 10px;
}
.blank {
    width: 300px;
    display: flex;

}
#FullName, #email, #password {
    width: 300px;
    height: 30px;
    margin: 5px;
}
.butt {
    display: flex;
    width: 300px;
    height: 30px;
    justify-content: flex-end;
}
